n8tern/n8tern-ai-matching-workflow.json
{
  "name": "n8tern AI Matching Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/students",
        "options": {}
      },
      "id": "2",
      "name": "Get Current Student",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/listings",
        "options": {}
      },
      "id": "3",
      "name": "Get Scraped Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "listings",
        "options": {}
      },
      "id": "4",
      "name": "Split Listings",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/match?sync=true",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "student_id",
              "value": "={{ $('Get Current Student').item.json.students[0].id }}"
            },
            {
              "name": "listing_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Score with Groq AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.match.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6",
      "name": "Filter High Scores (\u226550)",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06954be7-3d92-4f36-81cf-9a910ecb5c46",
              "name": "Company",
              "value": "={{ $('Split Listings').item.json.company }}",
              "type": "string"
            },
            {
              "id": "90d1bf43-cbfe-41f2-be65-71be94e77218",
              "name": "Role",
              "value": "={{ $('Split Listings').item.json.title }}",
              "type": "string"
            },
            {
              "id": "8c0a85a4-c361-46ce-badc-9fa4109404d7",
              "name": "AI Score",
              "value": "={{ $json.match.score }}",
              "type": "number"
            },
            {
              "id": "0257ad11-54b9-48cd-bdeb-2d14cb32d442",
              "name": "AI Reason",
              "value": "={{ $json.match.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Suggested Offers Format",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Get Current Student",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Student": {
      "main": [
        [
          {
            "node": "Get Scraped Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scraped Listings": {
      "main": [
        [
          {
            "node": "Split Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Listings": {
      "main": [
        [
          {
            "node": "Score with Groq AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score with Groq AI": {
      "main": [
        [
          {
            "node": "Filter High Scores (\u226550)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Scores (\u226550)": {
      "main": [
        [
          {
            "node": "Suggested Offers Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
